<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3239.1723" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.3239.1723" targetFramework="net461" />
  <package id="CefSharp.Common" version="63.0.3" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="63.0.3" targetFramework="net461" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net461" />
  <package id="DynUpdater" version="1.0.4-Alpha0" targetFramework="net461" />
  <package id="Geckofx45.64" version="45.0.34" targetFramework="net461" />
  <package id="GlobalSettingsFramework" version="1.0.3" targetFramework="net461" />
  <package id="GlobalSSH" version="2.1.2" targetFramework="net461" />
  <package id="IndieClient" version="1.0.5" targetFramework="net461" />
  <package id="MaterialFramework" version="4.0.8-Alpha5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
  <package id="Stripe.net" version="15.6.1" targetFramework="net461" />
</packages>